/Criptat2.txt
/Makefile.C++.txt
/Makefile.PA
/Makefile.template
/README_ioana.md
/a.out
/cpp.errors
/criptat
/incercari
/java.errors
/moss.pl
/out.txt
/p4
/tempCodeRunnerFile.java
/test.in
/test.out
/test_9_ioana.in
/text.txt